@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import "../../node_modules/react-datepicker/dist/react-datepicker.css";

@import "../../node_modules/react-rater/lib/react-rater.css";

// @import '../../node_modules/@fortawesome/fontawesome-free';
$react-rater-link: rgb(191, 246, 191) !default; // color of star not rated
$react-rater-hover: rgb(110, 235, 79) !default; // color of star on hover
$react-rater-active: rgb(123, 251, 4) !default; // color of star rated

// Set your brand colors
$purple: #66bfbf;
$pink: #fa7c91;
$brown: #727070;
$green: #056674;
$beige-light: #e0ece4;
$beige-lighter: #e0ece4;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$secondary: $brown;
$link: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;
$navbar-breakpoint: 500px;
// $desktop: 500px;

#navbar {
  .button {
    max-height: 30px;
    margin: 0 5px;
    border-radius: 3px;
  }
}

//* Hero image background
.hero-body {
  background: linear-gradient(0deg, $purple, $grey-light),
    url("https://lh3.googleusercontent.com/proxy/asL59o0YEPfPFNnbemEJkrOk32jxtybwLOKClIG-MSixsJwS90yRXQbpn4lTipTfvGgLTT74htOapanS9K_P_U4C");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$react-rater-link: rgb(191, 246, 191) !default; // color of star not rated
$react-rater-hover: rgb(110, 235, 79) !default; // color of star on hover
$react-rater-active: rgb(123, 251, 4) !default; // color of star rated

@import "../../node_modules/bulma/bulma.sass";

.locationsTopButtons {
  height: 30px;
  margin: 15px 15px 5px 15px;
  background-color: $green;
  border: 1px solid $brown;
  border-radius: 3px;
  color: white;
}

.locationsSearchBar {
  width: 98%;
  height: 30px;
  margin: 0px 15px 0px 15px;
  border: 1px solid $brown;
  border-radius: 5px;
}

.locationsTitle {
  margin: 0px 0px 20px 0px;
}

.locationsImage {
  width: 400px;
  background-color: white;
}
