@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import '../../node_modules/react-datepicker/dist/react-datepicker.css';

// @import '../../node_modules/@fortawesome/fontawesome-free';

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$green: rgb(0, 99, 0);
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;
$navbar-breakpoint: 400px;

.navbar {
  .button {
    max-height: 30px;
    margin: 0 5px;
    border-radius: 3px;;
  }
}

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../../node_modules/bulma/bulma.sass";

